@import "../../../mixin.scss";

#content-confirm-login {
  padding-right: 0;
  padding-left: 0;
  padding: 30px 150px;

  .body {
    //background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

    .text {
      width: 100%;
      display: block;
      margin-top: 12px;
      margin-bottom: 3px;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: $gray_light;
    }

    .form1 {
      width: 456px;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      //background-color: brown;

      .input {
        border-radius: 5px;
        border: 2px solid #c3c3c3;
        box-shadow: none;
        min-height: 42px;
        width: 100%;
      }

      .button1 {
        width: 270px;
        height: 42px;
        box-shadow: none;
        margin-top: 10px;
        background-color: $red_classic;
        border-color: $red_classic;
        color: $white;
        transition: background-color 0.2s;

        &:hover {
          background-color: $red_light;
        }
      }
    }

    .form2 {
      width: 456px;
      display: flex;
      flex-direction: column;
      //background-color: aqua;

      .change-email {
        display: flex;
        align-items: center;
        //background-color: black;

        .button2 {
          width: 115px;
          height: 21px;
          padding: 0 5px;
          display: flex;
          align-items: center;
          text-align: left;
          box-shadow: none;
          background-color: $white;
          border-color: $white;
          color: $red_classic;

          &:hover {
            color: $red_dark;
            text-decoration: none;
          }
        }
      }

      .button3 {
        width: 98px;
        height: 42px;
        box-shadow: none;
        margin-bottom: 10px;
        background-color: $red_classic;
        border-color: $red_classic;
        color: $white;
        transition: background-color 0.2s;

        &:hover {
          background-color: $red_light;
        }
      }
    }
  }
}
