@import "../../mixin.scss";

#page-food-info {
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;

  .image {
    width: 640px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      height: 431px;
      object-fit: cover;
    }

    p {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-top: 10px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;

    .box1 {
      display: flex;
      flex-direction: column;
      padding-bottom: 10px;
      border-bottom: 1px solid #c3c3c3;

      .price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 15px;

        .value {
          font-size: 2.625em;
          line-height: 1.14286em;
          font-weight: 700;
          color: #474747;
        }

        .text {
          font-size: 20px;
          font-weight: bold;
          color: $gray_light;
        }
      }

      .input-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;

        .text {
          font-size: 16px;
          font-weight: bold;
          line-height: 24px;
          color: $gray_light;
        }

        .input {
          width: 100px;
          min-height: 42px;
          border-radius: 5px;
          border: 2px solid #c3c3c3;
          box-shadow: none;
        }
      }

      .button {
        width: 100%;
        height: 60px;
        font-size: 22px;
        line-height: 24px;
        border-radius: 0.3125em;
        box-shadow: none;
        margin-bottom: 15px;
        background-color: $red_classic;
        border-color: $red_classic;
        color: $white;

        &:hover {
          background-color: $red_light;
        }
      }
    }

    .box2 {
      display: flex;
      padding: 20px 0;
      border-bottom: 1px solid #c3c3c3;

      a {
        display: flex;
        flex-direction: row;
        font-size: 1.375em;
        font-weight: 600;
        line-height: 3em;

        img {
          width: 108px;
          height: 108px;
          border-radius: 5px;
          object-fit: cover;
        }
      }

      .button {
        text-align: center;
        width: 190px;
        height: 2.625em;
        font-size: 1em;
        line-height: 1.5em;
        color: #474747;
        border: 0;
        border-radius: 0.3125em;
        box-shadow: none;
        background-color: $gray_classic;
        border-color: $gray_classic;

        &:hover {
          background-color: #dbdbdb;
          border-color: #dbdbdb;
        }
      }
    }
    .box3 {
      padding: 10px 0;

      .leaflet-container {
        width: 316px;
        height: 237px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  #page-food-info {
    flex-direction: column !important;
    align-content: center !important;

    .image {
      margin-right: 0 !important;
      padding: 0;
    }
    .info {
      margin-top: 20px !important;
      width: 640px !important;

      .box3 {
        .leaflet-container {
          width: 100% !important;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #page-food-info {
    .image {
      img {
        height: 350px !important;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  #page-food-info {
    .image {
      img {
        height: 300px !important;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  #page-food-info {
    .image {
      img {
        height: 250px !important;
      }
    }
  }
}
