@import "../../mixin.scss";

#page-food-info {
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  background-color: #eeeeee;

  .image {
    width: 640px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;

    .carousel-image {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      background-color: $white;

      img {
        width: 100%;
        height: 443px;
        object-fit: cover;
      }
    }

    .about {
      padding: 15px;
      background-color: $white;

      h5 {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.75rem;
        text-transform: uppercase;
        color: #474747;

        & {
          width: 100%;
          font-weight: 700;
          border-bottom: 1px solid #e8e8e8;
        }
      }

      p {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 10px;
      }
    }
  }

  .info {
    width: 400px;
    display: flex;
    flex-direction: column;

    .box1 {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      padding: 20px;
      border-bottom: 1px solid #c3c3c3;
      background-color: $white;

      .price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 15px;

        .value {
          font-size: 2.625em;
          line-height: 1.14286em;
          font-weight: 700;
          color: #474747;
        }

        .text {
          font-size: 20px;
          font-weight: bold;
          color: $gray_light;
        }
      }

      .input-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;

        .text {
          font-size: 16px;
          font-weight: bold;
          line-height: 24px;
          color: $gray_light;
        }

        .input {
          width: 100px;
          min-height: 42px;
          border-radius: 5px;
          border: 2px solid #c3c3c3;
          box-shadow: none;
        }
      }

      .button {
        width: 100%;
        height: 60px;
        font-size: 22px;
        line-height: 24px;
        border-radius: 0.3125em;
        box-shadow: none;
        background-color: $red_classic;
        border-color: $red_classic;
        color: $white;

        &:hover {
          background-color: $red_light;
        }
      }
    }

    .box2 {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #c3c3c3;
      background-color: $white;

      .info-chef {
        padding: 20px;
        width: 100%;
        display: flex;
        align-items: initial;
        background-color: #f3f4f6;

        img {
          width: 85px;
          height: 85px;
          margin-right: 20px;
          border-radius: 50%;
          object-fit: cover;
        }

        .name-chef {
          display: flex;
          flex-direction: column;
          margin-top: 10px;
          font-size: 1rem;
          font-weight: 600;

          h6 {
            margin: 0;
            font-size: 1.375em;
            line-height: 1.75rem;
            color: #474747;
          }
        }
      }

      .details-chef {
        padding: 20px;
      }
    }

    .box3 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      padding: 15px;
      background-color: $white;

      .leaflet-container {
        width: 100%;
        height: 280px;
      }
    }
  }
}

@media screen and (max-width: 1089px) {
  #page-food-info {
    flex-direction: column !important;
    align-content: center !important;

    .image {
      margin-right: 0 !important;
    }
    .info {
      margin-top: 20px !important;
      width: 640px !important;

      .box3 {
        .leaflet-container {
          width: 100% !important;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #page-food-info {
    .image {
      img {
        height: 350px !important;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  #page-food-info {
    .image {
      img {
        height: 300px !important;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  #page-food-info {
    .image {
      img {
        height: 250px !important;
      }
    }
  }
}
