@import "../../mixin.scss";

#page-home-grid {
  padding: 0 170px;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;

    #dropdown-basic {
      box-shadow: none;
      background-color: #e8e8e8;
      border-color: #e8e8e8;
      color: $gray_light;
    }

    #pagination1 {
      width: 120px;
      height: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      box-shadow: none;
      background-color: $red_classic;
      border-color: $red_classic;
      color: $white;
    }

    #pagination2 {
      width: 120px;
      height: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      box-shadow: none;
      background-color: #e8e8e8;
      border-color: #e8e8e8;
      color: $gray_light;

      &:hover {
        background-color: $red_dark;
        color: $white;
      }
    }

    #pagination3 {
      width: 120px;
      height: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      box-shadow: none;
      background-color: #e8e8e8;
      border-color: #e8e8e8;
      color: $gray_light;

      &:hover {
        background-color: $red_light;
        color: $white;
      }
    }

    & {
      border-bottom: 1px solid #c3c3c3;
    }
  }

  .slider {
    padding-right: 0;
    padding-left: 0;
  }

  .grid {
    padding-right: 0;
    padding-left: 0;

    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 20px 0;
      grid-gap: 30px;
      list-style: none;
      overflow: hidden;

      li {
        width: 225px;
        height: 200px;
        background: #e8e8e8;
        border-radius: 4px;

        img {
          max-width: 225px;
        }

        strong {
          font-size: 16px;
          line-height: 20px;
          color: $gray_dark;
        }

        span {
          font-size: 21px;
          font-weight: bold;
          color: $gray_dark;
        }

        .box2 {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          padding: 5px;

          img {
            border-radius: 4px;
            max-width: 36px;
          }

          strong {
            font-size: 16px;
            line-height: 20px;
            color: $red_classic;
          }
        }
      }
    }
  }
}
