@import "../../mixin.scss";

#page-home-map {
  max-width: 1280px;
  height: 100%;
  padding: 20px 150px;

  .content-header {
    display: flex;
    flex-direction: column;

    .header {
      padding-right: 0;
      padding-left: 0;
      display: flex;
      justify-content: space-between;

      .button2 {
        width: 360px;
        height: 42px;
        box-shadow: none;
        background-color: #e8e8e8;
        border-color: #e8e8e8;
        color: $gray_light;

        &:hover {
          color: $white;
          background-color: $red_light;
        }
      }

      #dropdown-basic {
        box-shadow: none;
        background-color: #e8e8e8;
        border-color: #e8e8e8;
        color: #3c3c3c;
      }

      .dropdown-item:active {
        color: #16181b;
        background-color: #f8f9fa;
      }

      #pagination1 {
        width: 120px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        box-shadow: none;
        background-color: #e8e8e8;
        border-color: #e8e8e8;
        color: #3c3c3c;

        &:hover {
          background-color: #cb2f28;
          color: #fff;
        }
      }

      #pagination2 {
        width: 120px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        box-shadow: none;
        background-color: #e8e8e8;
        border-color: #e8e8e8;
        color: #3c3c3c;

        &:hover {
          background-color: #cb2f28;
          color: #fff;
        }
      }

      #pagination3 {
        width: 120px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        box-shadow: none;
        background-color: #d73d36;
        border-color: #d73d36;
        color: #fff;
      }

      & {
        border-bottom: 1px solid #c3c3c3;
      }
    }
  }

  .content-filter {
    margin-left: 2px;
    width: 100%;
    //padding: 0 20px;
    display: flex;
    justify-content: center;

    .filter {
      padding-left: 0;
      padding-right: 0;
      width: 80%;
      display: flex;
      justify-content: center;
      flex-direction: column;

      #dropdown-basic {
        margin-top: 15px;
        width: 100%;
        box-shadow: none;
        background-color: #e8e8e8;
        border-color: #e8e8e8;
        color: $gray_light;
      }

      .dropdown-menu {
        width: 100%;
      }

      .dropdown-item:active {
        color: #16181b;
        background-color: #f8f9fa;
      }

      .range-form {
        display: flex;
        flex-direction: column;

        .text {
          margin-top: 15px;
          margin-bottom: 15px;
          font-size: 18px;
          font-weight: bold;
          line-height: 24px;
          color: $gray_light;

          & {
            width: 100%;
            font-weight: 700;
            border-bottom: 1px solid #e8e8e8;
          }
        }

        .MuiSlider-root {
          margin-bottom: 10px;
          width: 100%;
        }

        .Min-Max {
          width: 100%;
          display: flex;
          justify-content: space-between;

          .text2 {
            font-size: 18px;
            line-height: 24px;
            color: $gray_light;
          }
        }

        .button {
          width: 100%;
          height: 42px;
          box-shadow: none;
          background-color: $red_classic;
          border-color: $red_classic;
          color: $white;

          &:hover {
            background-color: $red_light;
          }
        }
      }
    }

    & {
      border-bottom: 1px solid #c3c3c3;
    }
  }

  .content-map {
    .slider {
      padding-right: 0;
      padding-left: 0;
      max-width: 300px;
      display: flex;
      flex-direction: column;

      .text {
        display: block;
        margin-top: 12px;
        margin-bottom: 3px;
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
        color: $gray_light;

        & {
          width: 212px;
          font-weight: 700;
          border-bottom: 1px solid #e8e8e8;
        }
      }

      .range-slider {
        width: 212px;
        height: 10px;
        border-radius: 2px;
      }

      .Min-Max {
        width: 212px;
        display: flex;
        justify-content: space-between;

        .text2 {
          margin-top: 5px;
          font-size: 18px;
          line-height: 24px;
          color: $gray_light;
        }
      }

      .button {
        width: 131.131px;
        height: 42px;
        box-shadow: none;
        background-color: $red_classic;
        border-color: $red_classic;
        color: $white;
        transition: background-color 0.2s;

        &:hover {
          background-color: $red_light;
        }
      }
    }

    .map {
      padding-right: 0;
      padding-left: 0;
      z-index: 50;

      .leaflet-container {
        width: 726px;
        height: 480px;
        margin-top: 20px;
        border-radius: 8px;
        margin-bottom: 24px;

        .popup {
          .leaflet-popup-content-wrapper {
            width: 201px;
            height: 150px;
            padding-left: 15px;
            border-radius: 5px;

            .leaflet-popup-content {
              width: 200px;
              margin: 0;

              .row1 {
                width: 100%;
                height: 110px;

                .opacity {
                  width: 100%;
                  height: 110px;
                  border-top-right-radius: 5px;
                  border-top-left-radius: 5px;
                  background: $black;
                  opacity: 0.4;
                  position: absolute;
                  z-index: 99;
                }

                img {
                  width: 100%;
                  height: 110px;
                  object-fit: cover;
                  border-top-right-radius: 5px;
                  border-top-left-radius: 5px;
                }

                .box1 {
                  width: 100%;
                  height: 110px;
                  position: absolute;
                  z-index: 99;

                  //background-color: black;

                  span {
                    position: absolute;
                    bottom: 0.35714em;
                    left: 0.71429em;
                    right: 0.71429em;
                    color: white;
                    font-size: 14px;
                    vertical-align: bottom;
                    line-height: 1.35em;
                  }
                }
              }
              .row2 {
                width: 100%;
                height: 40px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding-left: 5px;

                .box2 {
                  height: 40px;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  gap: 10px;

                  img {
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                  }

                  a {
                    color: $red_classic;

                    &:hover {
                      color: $red_dark;
                      text-decoration: none;
                    }
                  }
                }
                .price {
                  width: 90px;
                  height: 40px;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  gap: 3px;

                  .value {
                    font-size: 16px;
                    line-height: 1.5em;
                    color: $gray_light;
                  }
                  .hour {
                    font-size: 12px;
                    line-height: 1.5em;
                    color: $gray_light;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .pagination {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 1250px) {
  #page-home-map {
    padding: 20px 120px !important;
  }
}

@media screen and (max-width: 1180px) {
  #page-home-map {
    padding: 20px 70px !important;
  }
}

@media screen and (max-width: 1024px) {
  #page-home-map {
    .content-map {
      .slider {
        .text {
          & {
            width: 174px !important;
          }
        }

        .range-slider {
          width: 174px !important;
        }
      }

      .map {
        .leaflet-container {
          width: 626px !important;
          height: 480px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 959px) {
  #page-home-map {
    padding: 20px 30px !important;

    .content-map {
      padding: 0 !important;
      flex-direction: column !important;
      align-items: center !important;

      .map {
        padding: 0 !important;
        .leaflet-container {
          margin-top: 0 !important;
          margin-bottom: 0 !important;
          border-radius: 0 !important;
          max-width: 100% !important;
          max-height: 100% !important;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #page-home-map {
    padding: 20px 0 !important;

    .header {
      justify-content: space-around !important;

      .button2 {
        width: 279px !important;
      }

      #pagination1 {
        width: 93px !important;
        height: 42px !important;
      }

      #pagination2 {
        width: 93px !important;
        height: 42px !important;
      }

      #pagination3 {
        width: 93px !important;
        height: 42px !important;
      }
    }
  }
}

@media screen and (max-width: 639px) {
  #page-home-map {
    .header {
      .button2 {
        width: 189px !important;
      }
      #pagination1 {
        width: 63px !important;
        height: 42px !important;
      }

      #pagination2 {
        width: 63px !important;
        height: 42px !important;
      }

      #pagination3 {
        width: 63px !important;
        height: 42px !important;
      }
    }
  }
}
@media screen and (max-width: 420px) {
  #page-home-map {
    .header {
      .button2 {
        width: 159px !important;
      }
      #pagination1 {
        width: 53px !important;
        height: 42px !important;
      }

      #pagination2 {
        width: 53px !important;
        height: 42px !important;
      }

      #pagination3 {
        width: 53px !important;
        height: 42px !important;
      }
    }
  }
}

@media screen and (max-width: 374px) {
  #page-home-map {
    .header {
      .button2 {
        width: 138px !important;
      }
      #pagination1 {
        width: 46px !important;
        height: 42px !important;
      }

      #pagination2 {
        width: 46px !important;
        height: 42px !important;
      }

      #pagination3 {
        width: 46px !important;
        height: 42px !important;
      }
    }
  }
}
