@import "../../mixin.scss";

#page-home-background2 {
  width: 100%;
  height: 108px;
  background-image: url("../../images/background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  .opacity {
    width: 100%;
    height: 108px;
    background: #e8e8e8;
    opacity: 0.93;
    position: absolute;
    z-index: 50;
  }

  .text {
    width: 100%;
    height: 108px;
    padding-left: 90px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 50;

    h1 {
      font-size: 26px;
      font-weight: 600;
      color: #474747;
    }
  }
}

@media screen and (max-width: 1024px) {
  #page-home-background2 {
    .text {
      padding-left: 70px !important;
    }
  }
}

@media screen and (max-width: 900px) {
  #page-home-background2 {
    height: 93.6px !important;

    .opacity {
      height: 93.6px !important;
    }

    .text {
      height: 93.6px;
    }
  }
}

@media screen and (max-width: 768px) {
  #page-home-background2 {
    .text {
      padding-left: 60px !important;
    }
  }
}
@media screen and (max-width: 667px) {
  #page-home-background2 {
    .text {
      padding-left: 50px !important;
    }
  }
}

@media screen and (max-width: 500px) {
  #page-home-background2 {
    height: 79.2px !important;

    .opacity {
      height: 79.2px !important;
    }

    .text {
      height: 79.2px;
      padding-left: 40px !important;

      h1 {
        font-size: 23px !important;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  #page-home-background2 {
    .text {
      padding-left: 30px !important;
    }
  }
}

@media screen and (max-width: 320px) {
  #page-home-background2 {
    .text {
      padding-left: 25px !important;
    }
  }
}
