@import "../../mixin.scss";

#page-home-background {
  height: 60vh;
  overflow: hidden;
  //background-color: blue;

  img {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    object-fit: contain;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 140px;
    left: 450px;
    width: 400px;
    line-height: 30px;

    //background-color: red;

    h1 {
      font-size: 55px;
      font-weight: 700;
      color: #d73d36;
    }

    p {
      font-size: 24px;
      font-weight: 600;
      line-height: 38px;
    }
  }

  /* .content {
    img {
      
      object-fit: contain;
      position: absolute;
      top: 0;




    }
  } */
}
