@import "../../mixin.scss";

#page-home-background {
  img {
    width: 100%;
    height: 45vh;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 155px;
    left: 445px;
    width: 400px;

    h1 {
      font-size: 68px;
      font-weight: 700;
      color: $red_classic;
    }

    p {
      font-size: 26px;
      font-weight: 600;
      color: $black;
    }
  }
}
