@import "../../mixin.scss";

#content-info {
  width: 432px;
  height: 160px;
  padding-top: 30px;

  .row {
    padding-left: 0;
    padding-right: 0;
  }

  h2 {
    margin: 0em 0 0.35em;
  }

  .box1 {
    margin-top: -12px;
    width: 100%;
    height: 72px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    background-color: $gray_classic;

    .price {
      height: 24px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .text {
        display: block;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: $gray_light;
      }
    }
  }
}
