@import "../../mixin.scss";

#content-add-to-cart {
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .row {
    h2 {
      font-size: 1.625em;
      line-height: 1.14286em;
      font-weight: bold;
      color: #474747;
      margin-bottom: 20px;
    }
  }

  .address {
    margin-bottom: 30px;
    .card {
      border-radius: 5px;
      border: 2px solid #c3c3c3;

      .card-body {
        .map {
          width: 192px;
          height: 192px;

          .leaflet-container {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .body {
    padding: 0 40px;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      .food-name {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .icon {
        color: $red_classic;

        &:hover {
          color: $red_dark;
        }
      }
    }

    .box1 {
      margin-top: -12px;
      width: 432px;
      padding: 12px;
      display: flex;
      flex-direction: column;
      background-color: $gray_classic;

      .price {
        height: 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .text {
          display: block;
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          color: $gray_light;
        }
      }
    }

    .subtotal-price {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
    }

    .delivery-price {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .total-price {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .value {
        font-size: 1.625em;
        line-height: 1.14286em;
        font-weight: bold;
        color: #474747;
      }
    }
  }

  .payment {
    padding: 0 40px;
    margin-top: 20px;
    width: 432px;
    display: flex;
    flex-direction: column;
    //align-items: center;
    //justify-content: center;
    //background-color: aqua;

    h2 {
      font-size: 1.4375em;
      line-height: 1.14286em;
      font-weight: 700;
      color: #474747;
      margin-bottom: 0;
    }

    .button {
      width: 100%;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 20px;
      box-shadow: none;
      background-color: #2c2e2f;
      border-color: #2c2e2f;
      color: $white;
      transition: background-color 0.2s;

      &:hover {
        background-color: #3c3c3c;
      }
    }
  }
}

/* @media screen and (max-width: 471px) {
  #content-add-to-cart {
    .box1 {
      width: 354px !important;
    }

    .payment {
      width: 354px !important;
    }
  }
}
@media screen and (max-width: 414px) {
  #content-add-to-cart {
    .box1 {
      width: 300px !important;
    }
    .payment {
      width: 300px !important;
    }
  }
}
@media screen and (max-width: 320px) {
  #content-add-to-cart {
    .box1 {
      width: 260px !important;
    }

    .payment {
      width: 260px !important;
    }
  }
} */
