@import "../../mixin.scss";

#modal {
  .modal-header {
    .text {
      margin: 0;
      font-size: 1.625em;
      line-height: 1.14286em;
      font-weight: 600;
      color: #474747;
    }
  }

  .modal-body {
    ul {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      padding: 20px 0;
      list-style: none;

      li {
        .card {
          border-radius: 5px;
          border: 2px solid #c3c3c3;

          .card-body {
            padding: 0.75rem;

            .details {
              display: flex;
              flex-direction: column;

              .infoTitle {
                display: flex;
                align-items: baseline;

                .title {
                  display: flex;
                  align-items: center;
                  font-size: 1.125em;
                  font-weight: bold;
                  margin: 0;
                  margin-right: 10px;
                  margin-bottom: 10px;
                  color: #3c3c3c;
                }
              }
            }
          }

          &:hover {
            border-radius: 5px;
            border: 2px solid $red_classic;
          }

          &:active {
            border-radius: 5px;
            border: 2px solid $red_classic;
          }

          &:focus {
            border-radius: 5px;
            border: 2px solid $red_classic;
          }
        }
      }
    }
  }

  .modal-footer {
    .button {
      height: 42px;
      box-shadow: none;
      background-color: $red_classic;
      border-color: $red_classic;
      color: $white;
      transition: background-color 0.2s;

      &:hover {
        background-color: $red_light;
      }
    }
  }
}
