@import "../../mixin.scss";

#content-profile-info-food {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;

  .body {
    padding-right: 0;
    padding-left: 0;
    width: 732px;
    height: 100%;

    .form {
      .image-profile {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 150px;
          height: 150px;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      .text {
        width: 100%;
        display: flex;
        align-items: baseline;
        margin-bottom: 3px;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: $gray_light;
      }

      .input {
        width: 100%;
        min-height: 42px;
        border-radius: 5px;
        border: 2px solid #c3c3c3;
        box-shadow: none;
      }

      .textarea {
        width: 100%;
        min-height: 120px;
        border-radius: 5px;
        border: 2px solid #c3c3c3;
        box-shadow: none;
      }

      .description-image {
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 5px;

        p {
          color: gray;
          font-size: 0.8125em;
          line-height: 1.38462em;
        }
      }

      .button2 {
        width: 163px;
        height: 42px;
        box-shadow: none;
        margin-bottom: 10px;
        background-color: $red_classic;
        border-color: $red_classic;
        color: $white;

        &:hover {
          background-color: $red_light;
        }
      }
    }
  }
}

@media screen and (max-width: 670px) {
  #content-profile-info-food {
    margin-top: 30px;
  }
}

@media screen and (max-width: 600px) {
  #content-profile-info-food {
    .form {
      .text {
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: baseline !important;
      }
    }
  }
}
