@import "../../mixin.scss";

#page-chef-profile-food {
  padding: 30px 0;
  width: 100%;
  height: 100%;
  display: flex;

  .body {
    width: 100%;
    //background-color: aqua;

    .image {
      display: flex;
      justify-content: center;

      img {
        width: 165px;
        height: 165px;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .title {
        font-size: 36px;
        line-height: 1.5em;
        font-weight: 700;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: $gray_light;
      }

      .review {
        display: flex;
        align-items: center;
        font-size: 0.8333em;
        color: #9e9e9e;
        text-transform: uppercase;
        text-align: left;
        float: left;

        svg {
          color: $red_light;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  #page-chef-profile-food {
    .body {
      .image {
        margin-right: 50px !important;
      }
    }
  }
}

@media screen and (max-width: 610px) {
  #page-chef-profile-food {
    .body {
      //background-color: aqua;
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;

      .image {
        margin-right: 0 !important;
      }
    }
  }
}
