@import "../../mixin.scss";

#navbar {
  padding: 0 30px;
  height: 80px;
  background-color: $white;

  .logo {
    width: 168px;
    height: 44px;
  }

  .search {
    width: 400px;
    height: 44px;
    border-radius: 50px;
  }

  #text {
    font-size: 14px;
  }

  .button {
    width: 180px;
    height: 44px;
    font-weight: 600;
    border-radius: 50px;
    margin-left: 20px;
    box-shadow: none;
    background-color: $red_classic;
    border-color: $red_classic;
    color: $white;
    transition: background-color 0.2s;

    &:hover {
      background-color: $red_dark;
    }
  }
}
