@import "../../mixin.scss";

#content-confirm-login {
  padding-right: 0;
  padding-left: 0;
  padding: 30px 150px;
  display: flex;
  flex-direction: column;

  .alert {
    width: 984px;
    height: 44px;
    gap: 10px;
    padding: 0.5em 1.25em 0.75em 1.25em;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.3125em;
    font-size: 1em;
    line-height: 1.5em;
    color: #3c3c3c;
    cursor: default;
    box-shadow: none;
    border-color: $gray_classic;
    background-color: $gray_classic;
  }

  .body {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .form1 {
      width: 456px;
      height: 258px;
      display: flex;
      flex-direction: column;
      gap: 50px;

      .text {
        width: 100%;
        display: block;
        margin-top: 12px;
        margin-bottom: 3px;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: $gray_light;
      }

      .input {
        border-radius: 5px;
        border: 2px solid #c3c3c3;
        box-shadow: none;
        min-height: 42px;
        width: 100%;
      }

      .button4 {
        width: 202px;
        height: 42px;
        box-shadow: none;
        margin-bottom: 10px;
        background-color: $red_classic;
        border-color: $red_classic;
        color: $white;
        transition: background-color 0.2s;

        &:hover {
          background-color: $red_light;
        }
      }
    }
  }
}
