@import "../../mixin.scss";

#content-confirm-login {
  padding-right: 0;
  padding-left: 0;
  padding: 30px 150px;
  display: flex;
  flex-direction: column;

  .alert {
    width: 984px;
    height: 44px;
    gap: 10px;
    margin-bottom: 20px;
    padding: 0.5em 1.25em 0.75em 1.25em;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.3125em;
    font-size: 1em;
    line-height: 1.5em;
    color: #3c3c3c;
    cursor: default;
    box-shadow: none;
    border-color: $gray_classic;
    background-color: $gray_classic;
  }

  .body {
    display: flex;
    justify-content: center;

    .form1 {
      width: 456px;
      height: 453px;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .button1 {
        width: 270px;
        height: 42px;
        box-shadow: none;
        margin-bottom: 10px;
        background-color: $red_classic;
        border-color: $red_classic;
        color: $white;
        transition: background-color 0.2s;

        &:hover {
          background-color: $red_light;
        }
      }

      .change-email {
        display: flex;
        flex-direction: row;
        align-items: center;
        //background-color: black;

        .button2 {
          width: 115px;
          height: 21px;
          padding: 0 5px;
          display: flex;
          align-items: center;
          text-align: left;
          box-shadow: none;
          background-color: $white;
          border-color: $white;
          color: $red_classic;

          &:hover {
            color: $red_dark;
            text-decoration: none;
          }
        }
      }

      .form2 {
        margin-top: -40px;
        .text {
          width: 100%;
          display: block;
          margin-top: 12px;
          margin-bottom: 3px;
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          color: $gray_light;
        }

        .button3 {
          width: 98px;
          height: 42px;
          box-shadow: none;
          margin-bottom: 10px;
          background-color: $red_classic;
          border-color: $red_classic;
          color: $white;
          transition: background-color 0.2s;

          &:hover {
            background-color: $red_light;
          }
        }
      }
    }
  }
}
