@import "../../mixin.scss";

#page-home-list {
  max-width: 1280px;
  padding: 20px 150px;

  .content-header {
    display: flex;
    flex-direction: column;

    .header {
      padding-right: 0;
      padding-left: 0;
      display: flex;
      justify-content: space-between;

      .button2 {
        width: 360px;
        height: 42px;
        box-shadow: none;
        background-color: #e8e8e8;
        border-color: #e8e8e8;
        color: $gray_light;

        &:hover {
          color: $white;
          background-color: $red_light;
        }
      }

      #dropdown-basic {
        box-shadow: none;
        background-color: #e8e8e8;
        border-color: #e8e8e8;
        color: #3c3c3c;
      }

      .dropdown-item:active {
        color: #16181b;
        background-color: #f8f9fa;
      }

      #pagination1 {
        width: 120px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: none;
        background-color: #e8e8e8;
        border-color: #e8e8e8;
        color: #3c3c3c;

        &:hover {
          background-color: #cb2f28;
          color: #fff;
        }
      }

      #pagination2 {
        width: 120px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: none;
        background-color: #d73d36;
        border-color: #d73d36;
        color: #fff;
      }

      #pagination3 {
        width: 120px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: none;
        background-color: #e8e8e8;
        border-color: #e8e8e8;
        color: #3c3c3c;

        &:hover {
          background-color: #cb2f28;
          color: #fff;
        }
      }

      & {
        border-bottom: 1px solid #c3c3c3;
      }
    }
  }

  .content-filter {
    margin-left: 2px;
    width: 100%;
    //padding: 0 20px;
    display: flex;
    justify-content: center;

    .filter {
      padding-left: 0;
      padding-right: 0;
      width: 80%;
      display: flex;
      justify-content: center;
      flex-direction: column;

      #dropdown-basic {
        margin-top: 15px;
        width: 100%;
        box-shadow: none;
        background-color: #e8e8e8;
        border-color: #e8e8e8;
        color: $gray_light;
      }

      .dropdown-menu {
        width: 100%;
      }

      .dropdown-item:active {
        color: #16181b;
        background-color: #f8f9fa;
      }

      .range-form {
        display: flex;
        flex-direction: column;

        .text {
          margin-top: 15px;
          margin-bottom: 15px;
          font-size: 18px;
          font-weight: bold;
          line-height: 24px;
          color: $gray_light;

          & {
            width: 100%;
            font-weight: 700;
            border-bottom: 1px solid #e8e8e8;
          }
        }

        .MuiSlider-root {
          margin-bottom: 10px;
          width: 100%;
        }

        .Min-Max {
          width: 100%;
          display: flex;
          justify-content: space-between;

          .text2 {
            font-size: 18px;
            line-height: 24px;
            color: $gray_light;
          }
        }

        .button {
          width: 100%;
          height: 42px;
          box-shadow: none;
          background-color: $red_classic;
          border-color: $red_classic;
          color: $white;

          &:hover {
            background-color: $red_light;
          }
        }
      }
    }

    & {
      border-bottom: 1px solid #c3c3c3;
    }
  }

  .content-list {
    .slider {
      padding-right: 0;
      padding-left: 0;
      max-width: 300px;
      display: flex;
      flex-direction: column;

      .text {
        display: block;
        margin-top: 12px;
        margin-bottom: 3px;
        font-size: 16px;
        font-weight: bold;
        line-height: 24px;
        color: $gray_light;

        & {
          width: 212px;
          font-weight: 700;
          border-bottom: 1px solid #e8e8e8;
        }
      }

      .Min-Max {
        width: 212px;
        display: flex;
        justify-content: space-between;

        .text2 {
          font-size: 18px;
          line-height: 24px;
          color: $gray_light;
        }
      }

      .button {
        width: 131.131px;
        height: 42px;
        box-shadow: none;
        background-color: $red_classic;
        border-color: $red_classic;
        color: $white;
        transition: background-color 0.2s;

        &:hover {
          background-color: $red_light;
        }
      }
    }

    .list {
      padding-right: 0;
      padding-left: 0;

      ul {
        display: flex;
        flex-direction: column;
        list-style: none;

        li {
          display: flex;
          flex-direction: row;
          padding: 20px 0;

          & + li {
            border-top: 1px solid #c3c3c3;
          }

          .restaurant_image {
            width: 180px;
            height: 120px;
            margin-top: auto;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 4px;
            }
          }

          .info {
            flex: 1;
            display: flex;
            justify-content: space-between;
            margin-left: 30px;

            .box1 {
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              strong {
                font-size: 22px;
                font-weight: 600;
                color: #d73d36;

                &:hover {
                  color: #a12620;
                }
              }

              .chef-info {
                display: flex;
                flex-direction: row;

                img {
                  border-radius: 4px;
                  width: 40px;
                  height: 40px;
                  object-fit: cover;
                }

                a {
                  font-size: 16px;
                }
              }
            }

            .price {
              text-align: end;

              span {
                font-size: 2em;
                font-weight: 400;
                line-height: 1;
                color: #3c3c3c;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #page-home-list {
    padding: 30px !important;
  }
}

@media screen and (max-width: 768px) {
  #page-home-list {
    padding: 20px !important;

    .content-list {
      .slider {
        .text {
          & {
            width: 174px !important;
          }
        }

        .range-slider {
          width: 174px !important;
        }
      }

      .list {
        ul {
          li {
            .price {
              span {
                font-size: 1.5em !important;
                line-height: 1.5em !important;
                margin-right: 10px !important;
              }
              p {
                margin-right: 10px !important;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  #page-home-list {
    padding: 30px 120px !important;
  }
}

@media screen and (max-width: 1180px) {
  #page-home-list {
    padding: 30px 80px !important;
  }
}

@media screen and (max-width: 1100px) {
  #page-home-list {
    padding: 30px 45px !important;
  }
}

@media screen and (max-width: 1024px) {
  #page-home-list {
    padding: 30px !important;
  }
}

@media screen and (max-width: 985px) {
  #page-home-list {
    padding: 30px !important;

    .content-list {
      .slider {
        .text {
          & {
            width: 174px !important;
          }
        }

        .range-slider {
          width: 174px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 959px) {
  #page-home-list {
    padding: 20px !important;

    .content-list {
      flex-direction: column;
      align-items: center !important;
    }
  }
}

@media screen and (max-width: 870px) {
  #page-home-list {
    padding: 20px 0 !important;
  }
}

@media screen and (max-width: 768px) {
  #page-home-list {
    .header {
      justify-content: space-around !important;

      .button2 {
        width: 279px !important;
      }

      #pagination1 {
        width: 93px !important;
        height: 42px !important;
      }

      #pagination2 {
        width: 93px !important;
        height: 42px !important;
      }

      #pagination3 {
        width: 93px !important;
        height: 42px !important;
      }
    }
  }
}

@media screen and (max-width: 639px) {
  #page-home-list {
    .header {
      .button2 {
        width: 189px !important;
      }
      #pagination1 {
        width: 63px !important;
        height: 42px !important;
      }

      #pagination2 {
        width: 63px !important;
        height: 42px !important;
      }

      #pagination3 {
        width: 63px !important;
        height: 42px !important;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  #page-home-list {
    .content-list {
      .list {
        ul {
          li {
            img {
              max-width: 150px !important;
              max-height: 90px !important;
            }

            .info {
              margin-left: 15px !important;
              .box1 {
                .chef-info {
                  img {
                    border-radius: 4px;
                    max-width: 36px !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 440px) {
  #page-home-list {
    .content-list {
      .list {
        ul {
          li {
            img {
              max-width: 130px !important;
              max-height: 70px !important;
            }

            .info {
              margin-left: 10px !important;
              .box1 {
                strong {
                  font-size: 18px !important;
                }

                .chef-info {
                  img {
                    max-width: 34px !important;
                  }
                }
              }

              .price {
                span {
                  font-size: 1.25em !important;
                  line-height: 1.25em !important;
                  margin-right: 10px !important;
                }
                p {
                  font-size: 0.875em !important;
                  margin-right: 10px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  #page-home-list {
    .header {
      .button2 {
        width: 159px !important;
      }
      #pagination1 {
        width: 53px !important;
        height: 42px !important;
      }

      #pagination2 {
        width: 53px !important;
        height: 42px !important;
      }

      #pagination3 {
        width: 53px !important;
        height: 42px !important;
      }
    }
  }
}

@media screen and (max-width: 374px) {
  #page-home-list {
    .header {
      .button2 {
        width: 138px !important;
      }
      #pagination1 {
        width: 46px !important;
        height: 42px !important;
      }

      #pagination2 {
        width: 46px !important;
        height: 42px !important;
      }

      #pagination3 {
        width: 46px !important;
        height: 42px !important;
      }
    }

    .content-list {
      .list {
        ul {
          li {
            .info {
              .box1 {
                strong {
                  font-size: 16px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
