@import "../../mixin.scss";

#content-form-listings {
  padding-right: 0;
  padding-left: 0;
  width: 732px;

  .body {
    flex: 1;
    display: flex;
    flex-direction: column;

    .form {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      .input {
        width: 100%;
        min-height: 42px;
        border-radius: 5px;
        border: 2px solid #c3c3c3;
        box-shadow: none;
      }

      .input-dropdown {
        width: 100%;
        min-height: 42px;
        border-radius: 5px;
        color: $gray_light;
        background-color: #fff;
        border-color: #fff;
        border: 2px solid #c3c3c3;
        box-shadow: none;

        .input-item {
          border-bottom: 2px solid #c3c3c3;
        }
      }

      .buttons {
        display: flex;
        align-items: center;

        .button1 {
          width: 94px;
          height: 42px;
          box-shadow: none;
          background-color: $red_classic;
          border-color: $red_classic;
          color: $white;
          transition: background-color 0.2s;

          &:hover {
            background-color: $red_light;
          }
        }

        .button2 {
          width: 81px;
          height: 21px;
          display: flex;
          align-items: center;
          font-size: 1em;
          line-height: 1.38462em;
          box-shadow: none;
          border: none;
          background-color: transparent;
          border-color: transparent;
          color: $red_classic;

          &:hover {
            color: $red_dark;
            text-decoration: none;
          }
        }
      }
    }

    .icon {
      color: $red_classic;

      &:hover {
        color: $red_dark;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  #content-form-listings {
    .form {
      flex-direction: column;
      align-items: start;
    }

    .table {
      display: flex;
      flex-direction: column;

      thead {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
      tbody {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
    }
  }
}
