@import "../../mixin.scss";

#content-add-kitchen {
  padding-right: 0;
  padding-left: 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .body {
    width: 556px;
    height: 130.5px;
    display: flex;
    flex-direction: column;

    .button1 {
      width: 100%;
      height: 42px;
      text-align: start;
      box-shadow: none;
      border-radius: 0.3125em;
      border: 2px solid #c3c3c3;
      min-height: 42px;
      margin-bottom: 0.375em;
      background-color: transparent;
      color: $red_classic;

      &:hover {
        background-color: $gray_classic;
        color: $red_dark;
      }
    }

    .button2 {
      width: 100%;
      height: 42px;
      text-align: start;
      box-shadow: none;
      border-radius: 0.3125em;
      border: 2px solid #c3c3c3;
      min-height: 42px;
      margin-bottom: 0.375em;
      background-color: $gray_classic;
      color: $red_classic;

      &:hover {
        color: $red_dark;
      }
    }

    .form {
      display: flex;
      flex-direction: column;

      .text {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 12px;
        margin-bottom: 3px;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: $gray_light;

        .button4 {
          max-width: 90px;
          max-height: 17px;
          display: flex;
          align-items: center;
          font-size: 0.8125em;
          line-height: 1.38462em;
          font-family: "Source Sans Pro", helvetica, sans-serif;
          box-shadow: none;
          border: none;
          background-color: transparent;
          border-color: transparent;
          color: gray;

          &:hover {
            color: $red_dark;
            text-decoration: none;
          }
        }
      }

      .input {
        border-radius: 5px;
        border: 2px solid #c3c3c3;
        box-shadow: none;
        min-height: 42px;
        width: 100%;
      }

      .price {
        display: flex;
        align-items: center;

        .input-price {
          width: 120px;
          min-height: 42px;
          border-radius: 5px;
          border: 2px solid #c3c3c3;
          box-shadow: none;
        }

        .per {
          height: 1.375em;
          display: flex;
          align-items: baseline;

          span {
            color: #3c3c3c;
            font-size: 1.375em;
            line-height: 1.09091em;
            font-weight: 600;
          }
        }

        .select {
          width: 90px;
          min-height: 42px;
          border-radius: 5px;
          border: 2px solid #c3c3c3;
          box-shadow: none;
        }
      }

      .description {
        p {
          width: 100%;
          flex-wrap: wrap;
          color: gray;
          font-size: 0.8125em;
          line-height: 1.38462em;
        }
      }

      .textarea {
        border-radius: 5px;
        border: 2px solid #c3c3c3;
        box-shadow: none;
        min-height: 120px;
        width: 100%;
      }

      .date {
        display: flex;
        gap: 5px;

        .select-year {
          width: 76px;
          min-height: 42px;
          border-radius: 5px;
          border: 2px solid #c3c3c3;
          box-shadow: none;
        }
        .select-month {
          width: 118px;
          min-height: 42px;
          border-radius: 5px;
          border: 2px solid #c3c3c3;
          box-shadow: none;
        }
        .select-day {
          width: 60px;
          min-height: 42px;
          border-radius: 5px;
          border: 2px solid #c3c3c3;
          box-shadow: none;
        }
      }

      .map {
        padding: 15px 0;

        .leaflet-container {
          width: 100%;
          height: 192px;
        }
      }

      .button5 {
        width: 120px;
        height: 42px;
        box-shadow: none;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: $red_classic;
        border-color: $red_classic;
        color: $white;
        transition: background-color 0.2s;

        &:hover {
          background-color: $red_light;
        }
      }
    }
  }
}

@media screen and (max-width: 390px) {
  #content-add-kitchen {
    .body {
      .button2 {
        min-height: 62px !important;
      }
    }
  }
}
