@import "../../mixin.scss";

#page-home-background {
  width: auto;
  height: 324px;
  background-image: url("../../images/background.jpg");

  background-size: cover;
  background-repeat: no-repeat;

  .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h6 {
      margin-bottom: 0;
      margin-top: 0;
      font-size: 4.25em;
      font-weight: 700;
      line-height: 0.9375em;
      color: $red_classic;
    }

    p {
      font-size: 1.625em;
      line-height: 1.38462em;
      font-weight: 600;
      margin: 0.75em auto;
      max-width: 22.5em;
      color: $black;
    }
  }
}

@media screen and (max-width: 800px) {
  #page-home-background {
    height: 216px !important;

    .text {
      h6 {
        font-size: 3.75em !important;
      }

      p {
        font-size: 1.4375em !important;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #page-home-background {
    height: 180px !important;

    .text {
      h6 {
        font-size: 3.125em !important;
      }

      p {
        font-size: 1.25em !important;
      }
    }
  }
}
