@import "../../mixin.scss";

#content-form-notifications {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 0;
  padding-left: 0;
  width: 732px;

  .body {
    width: 100%;
    height: 100%;

    .form {
      display: flex;
      flex-direction: column;

      .group {
        display: flex;
        flex-direction: column;

        h2 {
          margin: 0;
        }
      }

      .button {
        width: 163px;
        height: 42px;
        box-shadow: none;
        margin-bottom: 10px;
        background-color: $red_classic;
        border-color: $red_classic;
        color: $white;

        &:hover {
          background-color: $red_light;
        }
      }
    }
  }
}

@media screen and (max-width: 670px) {
  #content-form-listings {
    margin-top: 30px;
  }
}

@media screen and (max-width: 414px) {
  #content-form-listings {
    padding: 30px !important;

    .body {
      width: 400px !important;

      .button1 {
        width: 354px !important;
      }

      .button2 {
        width: 354px !important;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  #content-form-listings {
    padding: 30px 0 !important;

    .body {
      width: 350px !important;

      .button1 {
        width: 320px !important;
      }

      .button2 {
        width: 320px !important;
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  #content-form-listings {
    padding: 30px 0 !important;

    .body {
      width: 300px !important;

      .button1 {
        width: 270px !important;
      }

      .button2 {
        width: 270px !important;
        font-size: 12px;
      }
    }
  }
}
