@import "../../mixin.scss";

#page-user-profile {
  padding: 0 150px;

  .body {
    width: 100%;
    height: 100vh;
    margin-top: 20px;

    .info {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding-right: 0;
      //padding-left: 0;
      padding-top: 15px;
      gap: 15px;

      a {
        display: flex;
        align-items: center;
        gap: 10px;
        min-height: 1.875em;
        font-size: 1em;
        line-height: 1.5em;
        font-family: "Source Sans Pro", helvetica, sans-serif;
      }

      h2 {
        width: 642px;
        padding-bottom: 0.375em;
        display: flex;
        align-items: baseline;
        border-bottom: 1px solid #c3c3c3;

        .text-link {
          font-size: 13px;
          margin-left: 10px;
        }
      }
    }

    .image {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      padding-right: 0;
      padding-left: 30px;

      img {
        width: 316px;
        height: 316px;
        overflow: hidden;
        border-radius: 5px;
      }
      .button {
        text-align: center;
        margin: 0.75em 0;
        width: 100%;
        height: 2.625em;
        font-size: 1em;
        line-height: 1.5em;
        color: #474747;
        border: 0;
        border-radius: 0.3125em;
        box-shadow: none;
        background-color: $gray_classic;
        border-color: $gray_classic;

        &:hover {
          background-color: #dbdbdb;
          border-color: #dbdbdb;
        }
      }
    }
  }
}
