@import "../../mixin.scss";

#page-user-profile {
  height: 90vh;
  padding: 30px 150px;
  width: 100%;
  display: flex;

  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;
    padding-top: 15px;
    gap: 15px;

    a {
      display: flex;
      align-items: center;
      gap: 10px;
      min-height: 1.875em;
      font-size: 1em;
      line-height: 1.5em;
    }

    h2 {
      width: 642px;
      padding-bottom: 0.375em;
      display: flex;
      align-items: baseline;
      border-bottom: 1px solid #c3c3c3;

      .text-link {
        font-size: 13px;
        margin-left: 10px;
      }
    }
  }

  .image {
    width: 316px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-right: 0;
    padding-left: 30px;

    img {
      width: 316px;
      height: 316px;
      object-fit: cover;
      border-radius: 5px;
    }
    .button {
      text-align: center;
      margin: 0.75em 0;
      width: 316px;
      height: 2.625em;
      font-size: 1em;
      line-height: 1.5em;
      color: #474747;
      border: 0;
      border-radius: 0.3125em;
      box-shadow: none;
      background-color: $gray_classic;
      border-color: $gray_classic;

      &:hover {
        background-color: #dbdbdb;
        border-color: #dbdbdb;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  #page-user-profile {
    padding: 30px !important;
  }
}

@media screen and (max-width: 760px) {
  #page-user-profile {
    padding: 30px 0 !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 20px !important;

    .info {
      width: 400px !important;
    }

    .image {
      width: 400px !important;
      padding-left: 0 !important;
    }
  }
}

@media screen and (max-width: 450px) {
  #page-user-profile {
    .info {
      width: 300px !important;

      h2 {
        display: flex !important;
        flex-direction: column !important;

        .text-link {
          margin-left: 0 !important;
        }
      }
    }

    .image {
      width: 300px !important;

      img {
        width: 300px !important;
        height: 300px !important;
      }

      .button {
        width: 300px !important;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  #page-user-profile {
    .info {
      width: 250px !important;
    }

    .image {
      width: 250px !important;

      img {
        width: 250px !important;
        height: 250px !important;
      }

      .button {
        width: 250px !important;
      }
    }
  }
}
