@import "../../mixin.scss";

#page-chef-profile {
  padding: 30px 150px;
  width: 100%;
  display: flex;

  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;
    padding-top: 15px;
    gap: 15px;

    h2 {
      width: 642px;
      padding-bottom: 0.375em;
      border-bottom: 1px solid #c3c3c3;
    }

    .box-image {
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .opacity {
        width: 225px;
        height: 150px;
        border-radius: 5px;
        background-color: $black;
        opacity: 0.4;
        position: absolute;
        z-index: 99;
      }

      img {
        max-width: 225px;
        border-radius: 5px;
        padding-bottom: 15px;
      }

      .box1 {
        width: 225px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        position: absolute;
        z-index: 99;

        .price {
          width: 80px;
          height: 33px;
          padding: 2px 5px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: baseline;
          gap: 3px;
          background-color: #fbfbfb;
          border-top-right-radius: 4px;
          border-bottom-left-radius: 4px;
          overflow: hidden;

          .value {
            font-size: 18px;
            line-height: 1.5em;
            font-weight: 600;
            text-align: center;
            white-space: nowrap;
            color: $gray_light;
          }

          .hour {
            font-size: 12px;
            font-weight: 600;
            line-height: 1.5em;
            text-align: center;
            white-space: nowrap;
            color: $gray_light;
          }
        }

        p {
          width: 100%;
          padding: 0 10px;
          color: $white;
          line-height: 1.2em;
        }
      }
    }
  }

  .image {
    width: 316px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-right: 0;
    padding-left: 30px;

    img {
      width: 316px;
      height: 316px;
      object-fit: cover;
      border-radius: 5px;
    }
    .button {
      text-align: center;
      margin: 0.75em 0;
      width: 316px;
      height: 2.625em;
      font-size: 1em;
      line-height: 1.5em;
      color: #474747;
      border: 0;
      border-radius: 0.3125em;
      box-shadow: none;
      background-color: $gray_classic;
      border-color: $gray_classic;

      &:hover {
        background-color: #dbdbdb;
        border-color: #dbdbdb;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  #page-chef-profile {
    padding: 30px !important;
  }
}

@media screen and (max-width: 760px) {
  #page-chef-profile {
    padding: 30px 0 !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 20px !important;

    .info {
      width: 400px !important;
    }

    .image {
      width: 400px !important;
      padding-left: 0 !important;
    }
  }
}

@media screen and (max-width: 450px) {
  #page-chef-profile {
    padding: 30px 0 !important;
    flex-direction: column !important;
    align-items: center !important;

    .info {
      width: 300px !important;
    }

    .image {
      width: 300px !important;

      img {
        width: 300px;
        height: 300px;
      }

      .button {
        width: 300px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  #page-chef-profile {
    padding: 30px 10px !important;
    flex-direction: column !important;
    align-items: center !important;

    .info {
      width: 300px !important;
    }

    .image {
      width: 300px !important;

      img {
        width: 250px;
        height: 250px;
      }

      .button {
        width: 250px;
      }
    }
  }
}
